@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-family: "Roboto", sans-serif;
}
html {
  box-sizing: border-box;
  background-color: black;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  padding: 0;
  margin: 0;
}
.center {
  @apply flex items-center justify-center;
}
.hover-effect {
  @apply hover:text-hover ease-in duration-300 hover:tracking-wide;
}
.border1 {
  @apply border-b-[1px] pb-3 pt-5 border-border;
}
.button-style {
  @apply capitalize text-secondary text-xl py-4 bg-[#24252e] w-28 sm:w-36 md:w-44 transition duration-300 font-medium hover:text-2xl rounded-2xl hover:font-black border-2 border-backgroundColor hover:border-[#3b82f680] hover:tracking-wide active:scale-95;
}
.h-style {
  @apply font-bold text-xl md:text-3xl text-secondary;
}
.p-style {
  @apply font-normal text-lg text-third;
}
